.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1362px;
}

.u-section-1 .u-text-1 {
  text-shadow: 7px 4px 0px rgba(255,0,11,0.7);
  font-family: "Abril Fatface";
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  margin: 46px 40px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: "Abril Fatface";
  text-shadow: 5px 2px 0px rgba(255,0,11,0.7);
  width: 244px;
  margin: 23px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 87px;
  width: 317px;
  margin: 23px auto 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 7px 4px 0px rgba(255,0,11,0.7);
  font-family: "Abril Fatface";
  margin: 67px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -8px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 570px;
    height: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-3 {
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    margin-top: 125px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}